@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

/* ---- COLORS ---- */
@theme {
	--color-red-light: #f7e6e6;
	--color-red: #b07575;
	--color-red-dark: #812727;

	--color-orange-light: #f7efe6;
	--color-orange: #cb914f;
	--color-orange-dark: #8a4d07;

	--color-yellow-light: #f7f5e6;
	--color-yellow: #cfb13a;
	--color-yellow-dark: #7e6811;

	--color-green-light: #e8f7e6;
	--color-green: #7f937c;
	--color-green-dark: #365b31;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-light: #f5f5f5;
	--color-grey: #adadad;
	--color-grey-dark: #707070;

	--text-sm: clamp(0.7502rem, 0.8623rem + -0.1446vw, 0.8333rem);
	--text-base: clamp(1rem, 1rem + 0vw, 1rem);
	--text-md: clamp(1.2rem, 1.1537rem + 0.2313vw, 1.333rem);
	--text-xl: clamp(1.44rem, 1.3228rem + 0.5859vw, 1.7769rem);
	--text-2xl: clamp(1.728rem, 1.5052rem + 1.1141vw, 2.3686rem);
	--text-3xl: clamp(2.0736rem, 1.6966rem + 1.8848vw, 3.1573rem);
	--text-4xl: clamp(2.4883rem, 1.8899rem + 2.992vw, 4.2087rem);
}
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: var(--color-grey-dark);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: "Quicksand", sans-serif;
	line-height: 1.2em;
	font-weight: 600;
	color: var(--color-black);
	margin: 0;
}
h1 {
	font-size: var(--text-4xl);
}
h2 {
	font-size: var(--text-3xl);
}
h3 {
	font-size: var(--text-2xl);
}
h4 {
	font-size: var(--text-xl);
}
h5 {
	font-size: var(--text-base);
	text-transform: uppercase;
	font-weight: 800;
}
h6 {
	font-size: var(--text-sm);
	text-transform: uppercase;
	font-weight: 800;
}

:is(p, li, button, label, input) {
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: var(--text-base);
	line-height: 1.4em;
}
